<?xml version="1.0" encoding="utf-8"?>
<config>  
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_flexicontact" section="component">
			<action name="core.admin" title="JACTION_ADMIN" description="JACTION_ADMIN_COMPONENT_DESC" />
			<action name="core.manage" title="JACTION_MANAGE" description="JACTION_MANAGE_COMPONENT_DESC" />
		</field>
	</fieldset>
    
	<fieldset name="basic" label="JOPTIONS">
		<field name="hide_submenu" type="list" default="" label="COM_FLEXICONTACT_HIDE_SUBMENU" 
			description="COM_FLEXICONTACT_HIDE_SUBMENU_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

		<field name="logging" type="hidden" default="" label="" />
		<field name="log_keep_days" type="hidden" default="" label="" />
		<field name="email_html" type="hidden" default="" label="" />
		<field name="autofill" type="hidden" default="" label="" />
		<field name="agreement_prompt" type="hidden" default="" label="" />
		<field name="agreement_link" type="hidden" default="" label="" />
		<field name="agreement_style" type="hidden" default="" label="" />
		<field name="show_copy" type="hidden" default="" label="" />
		<field name="show_subject" type="hidden" default="" label="" />
		<field name="default_subject" type="hidden" default="" label="" />
		<field name="area_prompt" type="hidden" default="" label="" />
		<field name="area_opt" type="hidden" default="" label="" />
		<field name="area_height" type="hidden" default="" label="" />
		<field name="list_opt" type="hidden" default="" label="" />
		<field name="list_prompt" type="hidden" default="" label="" />
		<field name="list_list" type="hidden" default="" label="" />
		<field name="field_opt1" type="hidden" default="" label="" />
		<field name="field_opt2" type="hidden" default="" label="" />
		<field name="field_opt3" type="hidden" default="" label="" />
		<field name="field_opt4" type="hidden" default="" label="" />
		<field name="field_opt5" type="hidden" default="" label="" />
		<field name="field_prompt1" type="hidden" default="" label="" />
		<field name="field_prompt2" type="hidden" default="" label="" />
		<field name="field_prompt3" type="hidden" default="" label="" />
		<field name="field_prompt4" type="hidden" default="" label="" />
		<field name="field_prompt5" type="hidden" default="" label="" />
		<field name="confirm_link" type="hidden" default="" label="" />
		<field name="confirm_text" type="hidden" default="" label="" />
		<field name="user_subject" type="hidden" default="" label="" />
		<field name="user_template" type="hidden" default="" label="" />
		<field name="admin_subject" type="hidden" default="" label="" />
		<field name="admin_template" type="hidden" default="" label="" />
		<field name="page_text" type="hidden" default="" label="" />
		<field name="bottom_text" type="hidden" default="" label="" />
		<field name="raw_images" type="hidden" default="" label="" />
		<field name="button_class" type="hidden" default="" label="" />
        <field name="num_images" type="hidden" default="" label="" />
        <field name="magic_word" type="hidden" default="" label="" />
        <field name="magic_word_prompt" type="hidden" default="" label="" />
        <field name="joomla_captcha" type="hidden" default="" label="" />
        <field name="copyme_prompt" type="hidden" default="" label="" />
        <field name="error_class" type="hidden" default="" label="" />
        <field name="show_mandatory" type="hidden" default="" label="" />
	</fieldset>

</config>
